body {
    background-color: rgb(29, 29, 46);
}

* {
    box-sizing: border-box;
}

button {
    cursor: pointer;
}

.calculator {
    width: 360px;
    height: 100%;
    background-color: rgb(46, 47, 79);
    border-radius: 20px;
    padding: 20px 20px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin: 100px auto;

}

.inputText {
    width: 100%;
    height: 50px;
    border-radius: 12px;
    border: none;
    outline: none;
    background-color: rgb(52, 52, 69);
    box-sizing: border-box;
    padding: 10px;
    color: rgb(117, 117, 117);
    text-align: right;
    font-size: 14px;
    font-weight: 600;
}

.buttonsHeader {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.first_list {
    display: flex;
    gap: 10px;
}

.first_list button {
    width: 80px;
    border-radius: 20px;
    border: none;
    padding: 20px 20px;
    font-size: 19px;
    box-sizing: border-box;
    color: white;
}

.first_list button:first-child {
    background-color: rgb(255, 107, 107);
}

.first_list button:nth-child(2) {
    background-color: rgb(107, 93, 232);
}

.first_list button:nth-child(3) {
    background-color: rgb(107, 93, 232);
}

.first_list button:last-child {
    background-color: #ff9e43;
}

.second_list {
    display: flex;
    gap: 10px;
}

.second_list button {
    width: 80px;
    border-radius: 20px;
    border: none;
    padding: 20px 30px;
    font-size: 19px;
    box-sizing: border-box;
    color: white;
    background-color: #3d3d5c;
}

.second_list button:last-child {
    background-color: #6b5ce7;
}

.third_list {
    display: flex;
    gap: 10px;
}

.third_list button {
    width: 80px;
    border-radius: 20px;
    border: none;
    padding: 20px 30px;
    font-size: 19px;
    box-sizing: border-box;
    color: white;
    background-color: #3d3d5c;
}

.third_list button:last-child {
    background-color: #6b5ce7;
}

.fourth_list {
    display: flex;
    gap: 10px;
}

.fourth_list button {
    width: 120px;
    border-radius: 20px;
    border: none;
    padding: 20px 30px;
    font-size: 19px;
    box-sizing: border-box;
    color: white;
    background-color: #3d3d5c;
}

.fifth_list {
    display: flex;
    gap: 10px;
}

.fifth_list button {
    width: 164px;
    border-radius: 20px;
    border: none;
    padding: 20px 30px;
    font-size: 19px;
    box-sizing: border-box;
    color: white;
    background-color: #3d3d5c;
}

.fifth_list button:first-child {
    background-color: #00b894;
}

.fifth_list button:last-child {
    color: black;
}


.sixth_list button {
    width: 100%;
    border-radius: 20px;
    border: none;
    padding: 20px 30px;
    font-size: 19px;
    box-sizing: border-box;
    color: white;
    background-color: #3d3d5c;
}