* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    max-width: 1100px;
    margin: 0 auto;
}

.navbar {
    background-color: #1b1b1b;
    padding: 28px 95px;
}

.header-section {
    padding: 100px;
}

.btn {
    padding: 21px 64px;
}