.flex{
    display: flex;
    flex-direction: row-reverse; /* teskarisia yonma yon qiladi*/
    align-items: center;
    align-items:flex-start;
    align-items: flex-end;
    justify-content: center;
}

.item{
    width: 100px;
    background-color: red;
    font-size: 20px;
    color: white;
    margin: 8px;
    text-align: center;
    padding: 35px;
    box-sizing: border-box;
}
.h-100{
    height: 100px;
}
.h-200{
    height: 180px;
}
.h-300{
    height: 150px;
}   
.h-400{
    height: 250px;
}