* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    max-width: 1100px;
    margin: 0 auto;
}

.navbar {
    background-color: #1b1b1b;
    border-bottom-right-radius: 8px;
    border-bottom-left-radius: 8px;
}

.menu {
    display: flex;
    padding: 24px 95px;
    justify-content: space-between;

}

.menu li {
    list-style-type: none;
    color: #9c9c9c;
    font-family: monospace;
}

.header {
    background-color: #080808;
    align-items: center;
}

.header-section {
    /* padding: 80px; */
    max-width: 1100px;
    display: flex;
    flex-direction: column;
    
    margin: 0 auto;


}

.section-father {
    display: flex;
    flex-direction: row;
    justify-content: space-betweenx;
    align-items: center;

}

.section-child {
    display: flex;
    flex-direction: column;
    gap: 14px;
}

.name {
    color: white;
    font-size: 44px;
    font-family: sans-serif;
}

.name-description {
    max-width: 492px;
    color: #898989;
    font-family: monospace;
}

.btn {
    background-color: #3F8E00;
    color: white;
    padding: 18px 60px;
    border: none;
    position: relative;
}